<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"



       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
      ">


    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="app.properties"/>
    </bean>
    <bean id="dataSourse" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="username" value="${db.user}"/>
        <property name="password" value="${db.password}"/>
        <property name="url" value="${db.url}"/>
    </bean>

      <bean id="cruDAO"
            class="CRUDaoImpl">
          <property name="jdbcTemplate" ref="jdbcTemplate"/>
      </bean>


          <bean id="jdbcTemplate"
                class="org.springframework.jdbc.core.JdbcTemplate">
              <constructor-arg ref="dataSourse" />
          </bean>



</beans>